# Supabase Configuration
VITE_SUPABASE_URL=https://jbvjktmwmjauynbxofrw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpidmprdG13bWphdXluYnhvZnJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzODcwNTcsImV4cCI6MjA5MTk2MzA1N30.k0H-w0j135nQht_qJiFJqj1GsZQJkJdh5rek7SYGU-Q
